In [1]:
print("Aula 1 do LAB de Ánalise de Dados")

Aula 1 do LAB de Ánalise de Dados

In [3]:
print(1+10+4, "adição")
print(1-10-4, "subtração")
print(1*10*4, "multiplicação")
print(10/2, "divisão")
print(10//4, "quociente")
print(10%4, "resto")
print(10**4, "potência")
print((2+2)*4, "prioridade de operações")

15 adição
-13 subtração
40 multiplicação
5.0 divisão
2 quociente
2 resto
10000 potência
16 prioridade de operações

In [ ]:
#Váriaveis de Texto
nome = "Lucas Fernandes"
vartext = str("1111")
print(nome, vartext)
vartext = vartext + str(5)

In [ ]:
#Váriaveis numéricas
var_int_01 = 100
var_int_02 = int(200)
print(var_int_01, var_int_02)

In [ ]:
#Váriaveis flutuantes
var_flut_01 = 3.14156
var_flut_02 = float(10.16532)
print(var_flut_01, var_flut_02)

In [ ]:
#Váriaveis Bool
var_bool_01 = True
var_bool_02 = False
print(var_bool_01, var_bool_02)

In [ ]:
#Lista sequendia de dados com colchetes
list_01 = [0, 5, 10, 15, 20, 25, 30, 35,40, 45, 50]
list_02 =["Garro", "Palacios", "Torres", "Coronado", "Raniele", "Wesley", "Cássio"]
list_03 = ["Corinthians", "Paulista", 1910, True, [1946]]
list_01, list_02, list_03

In [ ]:
#Tuplas - lista inalteravel
Tupla_01 = (0,1,2,3)
Tupla_02 = ("texto", False, 5)
Tupla_01, Tupla_02

In [ ]:
#Dicionários relacionais uma chave e um valor --- representados por chaves
dicionario_01 ={
    'Indice':'Valor',
    'Nome': 'ID',
    'Leandro': 'Id01',
    'Marcelo': 'Id02',
    'Lista': list_01,
    'Tupla': Tupla_01
}
dicionario_01 #A repetição do nome do topo sem mais nada é o suficiente para dar um print do que foi inserido no bloco de código.